* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.magic-square-container {
  width: 150px;
  height: 150px;
}

.magic-square-outline,
.magic-square-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 50%;
}

.magic-square-inner {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 98%;
  height: 98%;
}

.magic-square-inner::before,
.magic-square-inner::after {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  content: "";
  border: 1px solid white;
}

.magic-square-inner::before {
  transform: rotate(45deg);
}
